.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ArticleInfo {
  flex-basis: calc((100% - 36px)/3);
  border: 1px solid black;
  padding: 5px;
  margin: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}


.ArticleBody {
  margin: 0;

  padding: 5px;
  flex-basis: calc((200% - 36px)/3);
  border: 1px solid black;
}

.Comments {
  border: 1px solid black;
  padding: 5px;
  flex-basis: calc((100% - 36px)/3);

}